@import "tailwindcss";
 @theme {
  --font-primary: 'Inter', sans-serif;
  --font-secondary: "JetBrains Mono", monospace;
 }

 /* styles.css */
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.shadow-text {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer
}